<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Symphonium Music Visualization</title>

    <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <!-- Custom CSS -->
    <link href="static/css/symphonium.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">
        <!--Treble Clef graphic by <a href="http://www.icons8.com">Icons8</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>-->
        <img src="static/img/logo.png" id="logo"/>
    </div>
   

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
<!--
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 navbar-brand is hidden on larger screens, but visible when the menu is collapsed 
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav nav-tabs">
    <li class="active symph-tab"><a data-toggle="tab" href="#home">HOME</a></li>
    <li class="symph-tab"><a data-toggle="tab" href="#afs">AUDIO FINGERPRINT</a></li>
    <li class="symph-tab"><a data-toggle="tab" href="#music-transcriber">SHEET MUSIC</a></li>
    <li class="symph-tab"><a data-toggle="tab" href="#music-viz">MUSIC VISUALIZER</a></li>
    <li class="symph-tab"><a data-toggle="tab" href="#about">ABOUT</a></li>
    <li class="symph-tab"><a data-toggle="tab" href="#contact">CONTACT</a></li>
  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="tab-content">
        <!--Home Section-->
        <div id="home" class="tab-pane fade in active">
            <div class="box">
                <div class="col-lg-12">                                       
                    <img class="separator" src="static/img/separator.png" alt="separator">
                </div>  
                <div class="container col-lg-12 text-center">
                     <div class="row">
                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide">
                                <!-- Indicators -->
                                <ol class="carousel-indicators hidden-xs">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img class="img-responsive img-full" src="static/img/slide-1.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive img-full" src="static/img/slide-2.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive img-full" src="static/img/slide-3.jpg" alt="">
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="icon-next"></span>
                                </a>
                            </div> 
                        </div>
                    </div>
                </div>                             
                <div class="clearfix"></div>
            </div>
        </div>
        <!--End Home Section-->
        
        <!--Audio Fingerprinting Section-->
        <div id="afs" class="tab-pane fade">
            <div class="box">

                <div class="col-lg-12">                    
                     <h3 class="intro-text text-center">AUDIO FINGERPRINTING SYSTEM</h3>   
                    <img class="separator" src="static/img/separator.png" alt="separator">
                </div>  
                 <div class="container col-lg-12 text-center">
                    <div class="row">
                        <div class="col-md-2"></div>  
                        <div class="col-md-8">
                            <iframe src="/AFS_init" class="afs-frame" style></iframe>
                        </div>    
                        <div class="col-md-2"></div>  
                    </div><br>                
                </div>
<!--
                <div class="container col-lg-12 text-center">
                    <div class="row">
                        <div class="col-md-2"></div>  
                        <div class="col-md-4">
                           <div class="album-art">
                               <img src="img/album-art/ts.jpg" id="album-art-img"/>
                            </div>
                        </div>  
                          
                         <div class="col-md-4">
                            <div class="song-details-section">
                                <p class="song-details">Song Name: {{song_name}}</p>
                                 <p class="song-details">Artist Name: {{artist_name}}</p>
                                 <p class="song-details">Album Name: {{album_name}}</p>
                             </div>
                        </div>  
                        <div class="col-md-2"></div> 
                    </div><br>                
                </div>
-->
                <div class="clearfix"></div>
            </div>
        </div>
        <!--End Audio Fingerprinting Section-->
        
        <!--Sheet Music Transcriber Section-->
        <div id="music-transcriber" class="tab-pane fade">
            <div class="box">
                <div class="col-lg-12">                    
                     <h3 class="intro-text text-center">SHEET MUSIC TRANSCRIBER</h3>   
                    <img class="separator" src="static/img/separator.png" alt="separator">
                </div>  
                <div class="container col-lg-12 text-center">
                    <div class="row">                        
                        <div class="col-md-2"></div>  
                        <div class="col-md-8">
                            <iframe src="/sheetmusic" class="smt-frame"></iframe>
                        </div> 
                        <div class="col-md-2"></div>                                      
                    </div><br>                
                </div>   
                
                 <!--Before upload-->
<!--
                <div class="container col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            
                            <div id="music-transcriber-container">
                                <form class="music-transcriber-form">
                                    <p class="body-text text-center">Upload a WAV file</p><br>
                                    <button type="button" class="btn btn-default body-btns"><p class="button-text">Choose ...</p></button><br><br>
                                    <button type="button" class="btn btn-default body-btns"><p class="button-text">Upload</p></button><br>
                                </form>
                            </div>                    
                        </div>
                    </div><br>
                    
-->
                    <!--Section that appears after upload-->
<!--
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p class="body-text text-center">Your WAV file has been transcribed to sheet music</p><br>
                                    <button type="button" class="btn btn-default body-btns"><p class="button-text">View</p></button>
                        </div>
                    </div>
                </div>
-->
                 <!--End before upload-->
                
                <!--After upload-->
<!--
                <div class="container col-lg-12 text-center">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <audio controls="controls">
                              Your browser does not support the <code>audio</code> element.
                              <source src="static/midi_files/{{filename}}.wav" type="audio/wav">
                            </audio>
                        </div>
                        <div class="col-md-3"></div>
                    </div><br>
                    <div class="row">
                        <button type="button" class="btn btn-default body-btns"><p class="button-text">Sheet Music PDF</p></button>
                    </div>
                </div>
-->
                <!--End after upload-->
                
                <!--Display sheet music-->
                <div class="container col-lg-12 text-center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        
                        <div class="col-md-2"></div>                        
                    </div><br>  
                                  
                </div>
                <!--End display sheet music-->
                
            </div>
        </div>
        <!--End Sheet Music Transcriber Section-->

        <!--Music Visualization Section-->
        <div id="music-viz" class="tab-pane fade">
            <div class="box"> 
                          
                 <div class="col-lg-12">                    
                     <h3 class="intro-text text-center">MUSIC VISUALIZER</h3>   
                    <img class="separator" src="static/img/separator.png" alt="separator">
                </div>  
                <div class="container col-lg-12 text-center">
                    <div class="row">                        
                        <div class="col-md-12">
                            <iframe class="viz-frame" src="/viz">
                            </iframe>
                        </div>                                      
                    </div><br>                
                </div>                                
                <div class="clearfix"></div>
            </div>
        </div>
        <!--End Music Visualization Section-->
        
        <!--About Us Section-->
        <div id="about" class="tab-pane fade">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--End About Us Section-->
        
        <!--Contact Section-->
        <div id="contact" class="tab-pane fade">
            <div class="box">
                <div class="col-md-8">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.5444377612907!2d-121.88237677815134!3d37.335426701054246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fccb864de43d5%3A0x397ffe721937340e!2sSan+Jos%C3%A9+State+University!5e0!3m2!1sen!2sus!4v1445815483762" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-md-4">
                    <p>Phone:
                        <strong>123.456.7890</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:name@example.com">mail@symphonium.com</a></strong>
                    </p>
                    <p>Address:
                        <strong>1 Washington Square
                            <br>San Jose, CA 95192</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--End Contact Section-->

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Symphonium 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    
    <!--Script for AFS-->
    <script src="static/js/viz.js"></script>
    <script>
        function listening() {
            document.getElementById("afs-box").innerHTML = "Hello World";
        }
    </script>

</body>

</html>
